.displayss{
    /* float:left; */
    flex:1;
    justify-content: left;
    white-space: nowrap;
    display:block;
    padding: 2%;
    display:flex;
    /* background-color: aquamarine; */
    /* overflow:scroll; */

    /* max-width: 100%; */

}
.name{
    flex:2;
    font-size: larger;
    float:left;
    text-align: center;
    /* padding: 10%; */
    /* justify-content: center; */
}
.price{
    flex:2;
    font-style:italic;
    font-weight: bold;
    /* float:left; */
    
}
.mains{
    max-height: 100%;
}
.total{
    /* top: 100%; */
    justify-content: flex-end;
    position: absolute;
    bottom:7vh;
    display: flex;
    flex:1;
    flex-direction:row;
}
