/* .cards{
    display:flex;
    flex-direction: column;
    flex:1;
} */
.cards{
    display: flex;
    flex:1;
    /* background-color: #FFBB40; */
    /* border:2px gold solid */
    /* display: block;*/
    padding:20px; 
}
.catst{
    
    flex:1;
    flex-direction: row;
    /* background-color: #FFBB40; */
    font-size: large;
    /* display: block; */
    padding:10px;
    /* flex-direction:column; */
    /* border:2px orange solid */
}