.mainItem{
    display:flex;
    flex:1;
    /* height:8vh; */
    min-height:8vh;
    max-height: 100vh;
    /* maxWidth:100 ; */
    overflow:hidden;
}
.display{
    /* float:left; */
    display:flex;
    flex:1;
    flex-direction: row;
    /* max-height: 10rem; */
    /* max-width: 25rem; */
    /* height: 15rem; */
    /* width:15rem; */
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: left;
    /* white-space: nowrap; */
    /* display:block; */
    /* padding: 2%; */
    /* display:flex; */
    /* background-color: #00A65a; */

    /* max-width: 100%; */

}
.name{
    flex:3;
    font-size: larger;
    /* float:left; */
    text-align: center;
    /* padding: 10%; */
    /* justify-content: center; */
}
.price{
    flex:5;
    /* float:left; */
    
}
.functions{
    /* display: inline-block; */
    /* float: left; */
    flex:6;
    /* white-space: nowrap; */
}
.addButton{
    width: 100%;
}
