.bg-mycolor{
    background-color:#c7d8d8;
}
.main{
    display:flex;
    flex:1;
    /* flex-direction: row; */
}
.avtar{
    height:70px;
    width:70px;
    background-color:blue;
}
.text{
    top:50%;
    left:50%;
    padding-left:40%;
    font-style: arial;
    font-size:xx-large;
    font-weight: bolder;

}
.me-2{
    background-color: aliceblue;
    
}
.me-3{
    background-color: aliceblue;
}